streamlit
crewai
reportlab
beautifulsoup4
pyresparser=
openai
python-dotenv
jinja2
requests
nltk
spacy
ollama
bs4
docx

# Add your vector database library here (e.g., faiss-cpu, chromadb)
# Add any other necessary libraries